#grid {
    display: grid;
    grid-template-columns: auto;
    width: 800px;
    height: 800px;
}
.tile {
    background-color: rgb(199, 160, 146);
    border: 1px solid rgba(0, 0, 0, 0.8);
    
}
.colored {
    background-color: black;
}
body {
    background-color: burlywood;
}
button{
    padding: 20px;
    margin: 10px;
    background-color: gray;
}
#buttons{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gridcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 500px;
}